<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmonetix.pedals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PermissionRequest"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".dialog.RegisterDialog"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/myDialog" />
        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Home"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>